.about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  @media (max-width: 767.98px) {
    height: auto;
    min-height: 100vh;
  }
  .content {
    font-family: Sorts;
    width: 60%;
    font-size: 2rem;
    padding-top: 5rem;
    display: block;
    margin: 5rem 0rem;
    text-align: center;
    h1 {
      font-size: 2rem;
      display: inline-block;
      @media (max-width: 767.98px) {
        font-size: 1.6rem;
      }
    }
    @media (max-width: $expand-navbar) {
      width: 80%;
      margin-top: 90px;
    }
    @media (max-width: 767.98px) {
      width: calc(100% - 4rem);
      font-size: 1.6rem;
      padding-top: 3rem;
      margin: 2rem 0rem;
    }
  }

  h2 {
    display: inline-block;
  }
  .about__footer {
    display: block;
    width: 80%;
    margin: 0rem auto;
    > div {
      display: flex;
      justify-content: space-around;
      @media (max-width: $expand-navbar) {
        display: block;
        > div {
          margin-bottom: 4rem;
        }
      }
      > div {
        //width: calc(100% / 3);
        max-width: 350px;
        text-align: left;
      }
      @media (max-width: 767.98px) {
        > div {
          margin-bottom: 3rem;
        }
      }
    }
    h2,
    div,
    a,
    ul,
    li,
    p {
      font-size: calc(#{$main-size} * 0.8);
    }
    a {
      transition: color 0.3s ease;
      color: $primary-text;
      &:hover {
        color: white;
      }
    }
    ul {
      li {
        display: inline-block;
        padding: 0rem 0.2rem;
        &:first-child {
          padding-left: 0rem;
        }
      }
    }
    // @media (max-width: $expand-navbar) {
    //   display: block;
    //   > div {
    //     margin-bottom: 4rem;
    //   }
    // }
    @media (max-width: 767.98px) {
      width: calc(100% - 4rem);
      margin-top: 3rem;
    }
  }
}
