.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  @media (max-width: 767.98px) {
    height: auto;
    min-height: 100vh;
  }
  .content {
    font-family: Sorts;
    width: 60%;
    font-size: 2rem;
    h1 {
      font-size: 2rem;
      display: inline-block;
      @media (max-width: 767.98px) {
        font-size: 1.6rem;
      }
    }
    @media (max-width: $expand-navbar) {
      width: 80%;
      margin-top: 90px;
    }
    @media (max-width: 767.98px) {
      width: calc(100% - 4rem);
      font-size: 1.6rem;
    }
  }

  h2 {
    display: inline-block;
  }
  .about__footer {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 15rem auto 0rem auto;
    > div {
      //width: calc(100% / 3);
      max-width: 350px;
      text-align: left;
    }
    h2,
    div,
    a,
    ul,
    li,
    p {
      font-size: calc(#{$main-size} * 0.8);
    }
    a {
      transition: color 0.3s ease;
      &:hover {
        color: white;
      }
    }
    ul {
      li {
        display: inline-block;
        padding: 0rem 0.2rem;
        &:first-child {
          padding-left: 0rem;
        }
      }
    }
    @media (max-width: $expand-navbar) {
      margin: 10rem auto 0rem auto;
      display: block;
      > div {
        margin-bottom: 4rem;
      }
    }
    @media (max-width: 767.98px) {
      width: calc(100% - 4rem);
      margin: 5rem auto 0rem auto;
      > div {
        margin-bottom: 3rem;
      }
    }
  }
}
