// :root {
//   --main-text-color: #000000;
//   --second-text-color: #d0d0d0;
//   --spacing: 1.9rem;
// }

$breakdown-sm: 767.98px;
$breakdown-md: 991.98px;
$breakdown-lg: 1199.98px;

$expand-navbar: $breakdown-md;

$bg: #f0f0f0;

$primary-text: #000000;
$secondary-text: #d0d0d0;
$brand-primary: #c08081;
$main-size: 1.4rem;
